::-moz-selection {
  color: #f1f2f3;
  background: #e67e22;
}

::selection {
  color: #f1f2f3;
  background: #e67e22;
}

.space-40 {
  height: 40px;
}

.recopy-text {
  font-style: italic;
  color: #aaaaaa;
}
